body{
    background-image: url("images/hands.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    height: auto;
    width: auto;
    max-width: 100%;
    overflow-x: hidden;
}
div2{
    position: relative;
    top: 5px;
    left: 23vw;
}
p1{
    padding: 15px;
    margin: 0px;
    width: 100%;
    font-size: 2.5vw;
    font-family: Monthoer;
}
div1{
    position: relative;
    top: 5px;
    left: 23vw;
}
.hvr-shutter-out-horizontal {
    width: 1000px;
    height: 200px;
    display: -webkit-flex; /* Safari */
    opacity: 0;
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
    background-color: blue;
}

h1{
    font-size: 4vw;
    position: relative;
    left: 28vw;
    color: azure;
}
a{
    text-shadow: black;
    color: gainsboro;
    text-decoration: none;

}
a:hover{
    color: floralwhite;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}